In [24]:
import os

json_files_alex_desktop = os.environ['C_DRIVE']+'Users/Alex/Documents/json_credentials/'
fn = 'datajoint_db_credentials.json'

with open(json_files_alex_desktop+fn) as json_file:  
    db_admin_creds = json.load(json_file)

In [25]:
# https://www.w3schools.com/sql/default.asp
import pymysql
import json
import sys
from pprint import pprint
from utilities import *



def print_sql_command_output( command='show tables' ):
    # Create a connection cursor
    cur = conn.cursor()
    # Execute a mySql command
    cur.execute(command)
        
    # Print out the commands output
    print('---------------$  '+command + '  $---------------')
    print('               ')
    print(cur.description)
    print()

    for row in cur:
        print(row)
    print('\n')
    cur.close()
    
def execute_sql_command( command='' ):
    try:
        # Create a connection cursor
        cur = conn.cursor()
        # Execute a mySql command
        cur.execute(command)
        # Print out the commands output
        print('---------------$  '+command + '  $---------------')
        print('\n')
    except Exception as e:
        print('-X-X-X-X-X-X-X-')
        print('`'+command+'` failed')
        print(e,'\n-X-X-X-X-X-X-X-\n')
    
# Establish connection to the database with pymysql
def connect_to_db(db_name='alex_test'):
    conn = pymysql.connect(host   = db_admin_creds['host'], \
                       port   = db_admin_creds['port'], \
                       user   = db_admin_creds['user'], \
                       passwd = db_admin_creds['passwd'], \
                       db     = db_name)
    print('---------------$  CONNECTED TO `'+db_name + '`  $---------------') 
    print('\n')
    return conn

## DB Specific Commands

In [28]:
# db_name = alex_test, common_atlas, common_test, etc...
conn = connect_to_db( db_name = 'conrad_test' )


print_sql_command_output(command='show tables')

print_sql_command_output(command='SELECT * FROM mouse')

---------------$  CONNECTED TO `conrad_test`  $---------------


---------------$  show tables  $---------------

(('Tables_in_conrad_test', 253, None, 256, 256, 0, False),)

('#person',)
('~external',)
('~log',)
('_behavior',)
('_imaging',)
('mouse',)
('session',)


---------------$  SELECT * FROM mouse  $---------------

(('mouse_id', 254, None, 32, 32, 0, False), ('dob', 10, None, 10, 10, 0, False), ('iacuc_barcode', 8, None, 20, 20, 0, False), ('sex', 254, None, 4, 4, 0, False), ('genotype', 253, None, 4000, 4000, 0, False))

('CF_A1_01', datetime.date(2017, 10, 7), 0, 'M', 'C57/Bl6')
('CF_A1_02', datetime.date(2017, 10, 7), 0, 'M', 'C57/Bl6')
('CF_A1_03', datetime.date(2018, 1, 4), 0, 'M', 'C57/Bl6')
('CF_A1_04', datetime.date(2018, 1, 4), 0, 'M', 'C57/Bl6')
('CF_A1_D2', '0000-00-00', 0, 'M', 'C57/Bl6')
('CF_D2_01', datetime.date(2018, 3, 21), 0, 'M', 'C57/Bl6')
('CF_D2_02', datetime.date(2018, 6, 27), 0, 'M', 'C57/Bl6')
('CF_D2_03', datetime.date(2018, 7, 26), 0, 'M', 'C57/Bl6')
('CF_M1_01', datetime.date(2018, 8, 29), 0, 'M', 'C57/Bl6')
('CF_M1_02', datetime.date(2018, 8, 29), 0, 'M', 'C57/Bl6')
('CF_M1_03', datetime.date(2018, 9, 14), 0, 'M', 'C57/Bl6')
('CF_M1_04', '0000-00-00', 0, 'M', 'C57/Bl6')
('CF_M1_05', '0000-00-00', 0, 'M', 'C57/Bl6')
('CF_M1_07', '0000-00-00', 0, 'M', 'C57/Bl6')
('CF_M1_6', '0000-00-00', 0, 'M', 'C57/Bl6')
('CF_SIM', '0000-00-00', 0, 'M', 'C57/Bl6')

#### Adding and Removing entries from a DB

In [95]:
# Insert a new mouse into the table
command = 'INSERT INTO \
mouse (mouse, rating_out_of_ten, iacuc_barcode, date_of_birth, sex, genotype) \
VALUES (\'99\', 10, \'777777\', \'2019/01/01\', \'M\', \'XYZ\')'
execute_sql_command(command=command)

    
    
print_sql_command_output(command='SELECT * FROM mouse')


# Remove the all mouse entries with id 99 OR 100
command = 'DELETE FROM `mouse` WHERE `mouse` IN (99,100)'
try:
    execute_sql_command(command=command)
except Exception as e:
    print('DELETE command failed')
    print(e,'\n')
    
    
print_sql_command_output(command='SELECT * FROM mouse')

---------------$  INSERT INTO mouse (mouse, rating_out_of_ten, iacuc_barcode, date_of_birth, sex, genotype) VALUES ('99', 10, '777777', '2019/01/01', 'M', 'XYZ')  $---------------


---------------$  SELECT * FROM mouse  $---------------

(('mouse', 254, None, 40, 40, 0, False), ('rating_out_of_ten', 3, None, 11, 11, 0, False), ('iacuc_barcode', 8, None, 20, 20, 0, False), ('date_of_birth', 10, None, 10, 10, 0, False), ('sex', 254, None, 4, 4, 0, False), ('genotype', 253, None, 4000, 4000, 0, False))

('1', 0, 11734, datetime.date(2018, 10, 25), 'F', 'C56')
('2', 0, 11755, datetime.date(2018, 10, 27), 'M', 'C56')
('99', 10, 777777, datetime.date(2019, 1, 1), 'M', 'XYZ')


---------------$  DELETE FROM `mouse` WHERE `mouse` IN (99,100)  $---------------


---------------$  SELECT * FROM mouse  $---------------

(('mouse', 254, None, 40, 40, 0, False), ('rating_out_of_ten', 3, None, 11, 11, 0, False), ('iacuc_barcode', 8, None, 20, 20, 0, False), ('date_of_birth', 10, None, 10, 10, 0, False), ('sex', 254, None, 4, 4, 0, False), ('genotype', 253, None, 4000, 4000, 0, False))

('1', 0, 11734, datetime.date(2018, 10, 25), 'F', 'C56')
('2', 0, 11755, datetime.date(2018, 10, 27), 'M', 'C56')

## Bug Testing

In [96]:
# Prints all processing currently running in mySQL
print_sql_command_output(command='SHOW PROCESSLIST')


# KILL Processes run by 'dbadmin' that may be preventing other queries
#execute_sql_command('KILL 24682')

---------------$  SHOW PROCESSLIST  $---------------

(('Id', 8, None, 21, 21, 0, False), ('User', 253, None, 64, 64, 31, False), ('Host', 253, None, 256, 256, 31, False), ('db', 253, None, 256, 256, 31, True), ('Command', 253, None, 64, 64, 31, False), ('Time', 3, None, 7, 7, 0, False), ('State', 253, None, 120, 120, 31, True), ('Info', 253, None, 400, 400, 31, True))

(18317, 'rdsadmin', 'localhost', None, 'Sleep', 1, 'delayed send ok done', None)
(18318, 'rdsadmin', 'localhost', None, 'Sleep', 1, 'delayed send ok done', None)
(18319, 'rdsadmin', 'localhost', None, 'Sleep', 3, 'cleaned up', None)
(18320, 'rdsadmin', 'localhost', None, 'Sleep', 158, 'delayed send ok done', None)
(24309, 'rdsadmin', 'localhost', None, 'Sleep', 0, 'cleaned up', None)
(24686, 'dbadmin', '169.228.73.190:64246', 'alex_test', 'Query', 0, 'init', 'SHOW PROCESSLIST')

## Miscillaneous Commands

In [27]:
command = 'show DATABASES'
print_sql_command_output(command=command)

---------------$  show DATABASES  $---------------

(('Database', 253, None, 256, 256, 0, False),)

('information_schema',)
('alex_test',)
('common_atlas',)
('common_atlas_foreign_test',)
('common_atlas_v1',)
('common_atlas_v2',)
('common_atlas_v3',)
('common_attach',)
('common_demo_attach',)
('common_distributed',)
('common_test',)
('common_test2',)
('common_u19_database',)
('conrad_test',)
('david_test',)
('dimitri_common',)
('dimitri_test',)
('hannah_test',)
('map_ccf',)
('map_ephys',)
('map_experiment',)
('map_ingest_behavior',)
('map_lab',)
('map_publication',)
('mysql',)
('performance_schema',)
('tmp',)
('xiang_test',)
('yoav_s3_test',)
('yoav_test',)

In [71]:
command = 'show processlist'
print_sql_command_output(command=command)

command = 'show grants'
print_sql_command_output(command=command)

command = 'show grants FOR alex'
print_sql_command_output(command=command)

---------------$  show processlist  $---------------

(('Id', 8, None, 21, 21, 0, False), ('User', 253, None, 64, 64, 31, False), ('Host', 253, None, 256, 256, 31, False), ('db', 253, None, 256, 256, 31, True), ('Command', 253, None, 64, 64, 31, False), ('Time', 3, None, 7, 7, 0, False), ('State', 253, None, 120, 120, 31, True), ('Info', 253, None, 400, 400, 31, True))

(18317, 'rdsadmin', 'localhost', None, 'Sleep', 0, 'delayed send ok done', None)
(18318, 'rdsadmin', 'localhost', None, 'Sleep', 2, 'delayed send ok done', None)
(18319, 'rdsadmin', 'localhost', None, 'Sleep', 7, 'cleaned up', None)
(18320, 'rdsadmin', 'localhost', None, 'Sleep', 139, 'delayed send ok done', None)
(24309, 'rdsadmin', 'localhost', None, 'Sleep', 0, 'cleaned up', None)
(24674, 'dbadmin', '169.228.73.190:63486', 'alex_test', 'Sleep', 3421, 'cleaned up', None)
(24678, 'dbadmin', '169.228.73.190:63652', 'alex_test', 'Sleep', 2398, 'delayed send ok done', None)
(24679, 'dbadmin', '169.228.73.190:63657', 'alex_test', 'Sleep', 1468, 'cleaned up', None)
(24682, 'dbadmin', '169.228.73.190:64041', 'alex_test', 'Query', 0, 'init', 'show processlist')


---------------$  show grants  $---------------

(('Grants for dbadmin@%', 253, None, 4096, 4096, 31, False),)

("GRANT SELECT, INSERT, UPDATE, DELETE, CREATE, DROP, RELOAD, PROCESS, REFERENCES, INDEX, ALTER, SHOW DATABASES, CREATE TEMPORARY TABLES, LOCK TABLES, EXECUTE, REPLICATION SLAVE, REPLICATION CLIENT, CREATE VIEW, SHOW VIEW, CREATE ROUTINE, ALTER ROUTINE, CREATE USER, EVENT, TRIGGER, LOAD FROM S3, SELECT INTO S3, INVOKE LAMBDA ON *.* TO 'dbadmin'@'%' IDENTIFIED BY PASSWORD '*AAD5282851DD25BD30C27DB64EBA59D6DA44F753' WITH GRANT OPTION",)


---------------$  show grants FOR alex  $---------------

(('Grants for alex@%', 253, None, 4096, 4096, 31, False),)

("GRANT USAGE ON *.* TO 'alex'@'%' IDENTIFIED BY PASSWORD '*8F4E65EB3D28FBCB72FFEF92B72F8325864C4E94'",)
("GRANT ALL PRIVILEGES ON `common\\_%`.* TO 'alex'@'%'",)
("GRANT ALL PRIVILEGES ON `alex\\_%`.* TO 'alex'@'%'",)

In [97]:
print_sql_command_output(command='SHOW ENGINE INNODB STATUS')

---------------$  SHOW ENGINE INNODB STATUS  $---------------

(('Type', 253, None, 40, 40, 31, False), ('Name', 253, None, 2048, 2048, 31, False), ('Status', 253, None, 40, 40, 31, False))

('InnoDB', '', "\n=====================================\n2019-02-16 00:13:06 2b66f67c6700 INNODB MONITOR OUTPUT\n=====================================\nPer second averages calculated from the last 29 seconds\n-----------------\nBACKGROUND THREAD\n-----------------\nsrv_master_thread loops: 2667259 srv_active, 0 srv_shutdown, 2528353 srv_idle\nsrv_master_thread log flush and writes: 0\n----------\nSEMAPHORES\n----------\nOS WAIT ARRAY INFO: reservation count 42\nOS WAIT ARRAY INFO: signal count 47\nMutex spin waits 843, rounds 2453, OS waits 2\nRW-shared spins 42, rounds 558, OS waits 11\nRW-excl spins 1419, rounds 9559, OS waits 20\nSpin rounds per wait: 2.91 mutex, 13.29 RW-shared, 6.74 RW-excl\n------------------------\nLATEST FOREIGN KEY ERROR\n------------------------\n2019-02-15 23:13:53 2b66f67c6700 Transaction:\nTRANSACTION 47377860, ACTIVE 9 sec inserting\nmysql tables in use 1, locked 1\n5 lock struct(s), heap size 376, 2 row lock(s), undo log entries 1\nMySQL thread id 24677, OS thread handle 0x2b66f67c6700, query id 39657933 169.228.73.190 dbadmin update\nINSERT INTO surgery (mouse, surgery_number, username, surgery_date, surgery_description) VALUES ('2', '4', 'example_user', '2019/01/01', '')\nForeign key constraint fails for table `alex_test`.`surgery`:\n,\n  CONSTRAINT `surgery_ibfk_2` FOREIGN KEY (`username`) REFERENCES `#person` (`username`) ON UPDATE CASCADE\nTrying to add in child table, in index `username` tuple:\nDATA TUPLE: 3 fields;\n 0: len=12; bufptr=0x2b6890c7d21c; hex= 6578616d706c655f75736572; asc example_user;;\n 1: len=10; bufptr=0x2b6890c7d210; hex= 32202020202020202020; asc 2         ;;\n 2: len=1; bufptr=0x2b6890e5e9aa; hex= 04; asc  ;;\n\nBut in parent table `alex_test`.`#person`, in index `PRIMARY`,\nthe closest match we can find is record:\nPHYSICAL RECORD: n_fields 4; compact format; info bits 0\n 0: len=5; bufptr=0x2b65cb24007f; hex= 6461766964; asc david;;\n 1: len=6; bufptr=0x2b65cb240084; hex= 000000289a20; asc    (  ;;\n 2: len=7; bufptr=0x2b65cb24008a; hex= 9e000002a20110; asc        ;;\n 3: len=15; bufptr=0x2b65cb240091; hex= 4461766964204b6c65696e66656c64; asc David Kleinfeld;;\n\n------------\nTRANSACTIONS\n------------\nTrx id counter 47394183\nPurge done for trx's n:o < 47393791 undo n:o < 0 state: running but idle\nHistory list length 274\nLIST OF TRANSACTIONS FOR EACH SESSION:\n---TRANSACTION 47393970, not started\nMySQL thread id 18317, OS thread handle 0x2b62c92c3700, query id 39689427 localhost rdsadmin delayed send ok done\n---TRANSACTION 47394152, not started\nMySQL thread id 18319, OS thread handle 0x2b62c9241700, query id 39689378 localhost rdsadmin cleaned up\n---TRANSACTION 47393387, not started\nMySQL thread id 18320, OS thread handle 0x2b62c9282700, query id 39687987 localhost rdsadmin delayed send ok done\n---TRANSACTION 47394180, not started\nMySQL thread id 18318, OS thread handle 0x2b62c92c3700, query id 39689436 localhost rdsadmin delayed send ok done\n---TRANSACTION 47394088, ACTIVE 13 sec\n5 lock struct(s), heap size 376, 6 row lock(s), undo log entries 2\nMySQL thread id 24686, OS thread handle 0x2b66f67c6700, query id 39689437 169.228.73.190 dbadmin init\nSHOW ENGINE INNODB STATUS\nTrx read view will not see trx with id >= 47394089, sees < 47394088\n--------\nFILE I/O\n--------\nI/O thread 0 state: waiting for i/o request (insert buffer thread)\nI/O thread 1 state: waiting for i/o request (log thread)\nI/O thread 2 state: waiting for i/o request (read thread)\nI/O thread 3 state: waiting for i/o request (read thread)\nI/O thread 4 state: waiting for i/o request (read thread)\nI/O thread 5 state: waiting for i/o request (read thread)\nI/O thread 6 state: waiting for i/o request (read thread)\nI/O thread 7 state: waiting for i/o request (read thread)\nI/O thread 8 state: waiting for i/o request (read thread)\nI/O thread 9 state: waiting for i/o request (read thread)\nI/O thread 10 state: waiting for i/o request (write thread)\nI/O thread 11 state: waiting for i/o request (write thread)\nI/O thread 12 state: waiting for i/o request (write thread)\nI/O thread 13 state: waiting for i/o request (write thread)\nPending normal aio reads: 0 [0, 0, 0, 0, 0, 0, 0, 0] , aio writes: 0 [0, 0, 0, 0] ,\n ibuf aio reads: 0, log i/o's: 0, sync i/o's: 0\nPending flushes (fsync) log: 0; buffer pool: 0\n0 OS file reads, 0 OS file writes, 0 OS fsyncs\n0.00 reads/s, 0 avg bytes/read, 0.00 writes/s, 0.00 fsyncs/s\n-------------------------------------\nINSERT BUFFER AND ADAPTIVE HASH INDEX\n-------------------------------------\nIbuf: size 1, free list len 0, seg size 2, 0 merges\nmerged operations:\n insert 0, delete mark 0, delete 0\ndiscarded operations:\n insert 0, delete mark 0, delete 0\nAdaptive hash table 0: Hash table size 1243391, node heap has 0 buffer(s)\nAdaptive hash table 1: Hash table size 1243391, node heap has 0 buffer(s)\nAdaptive hash table 2: Hash table size 1243391, node heap has 0 buffer(s)\nAdaptive hash table 3: Hash table size 1243391, node heap has 0 buffer(s)\nAdaptive hash table 4: Hash table size 1243391, node heap has 0 buffer(s)\nAdaptive hash table 5: Hash table size 1243391, node heap has 0 buffer(s)\nAdaptive hash table 6: Hash table size 1243391, node heap has 0 buffer(s)\nAdaptive hash table 7: Hash table size 1243391, node heap has 0 buffer(s)\nAdaptive hash table 8: Hash table size 1243391, node heap has 0 buffer(s)\nAdaptive hash table 9: Hash table size 1243391, node heap has 0 buffer(s)\nAdaptive hash table 10: Hash table size 1243391, node heap has 0 buffer(s)\nAdaptive hash table 11: Hash table size 1243391, node heap has 0 buffer(s)\nAdaptive hash table 12: Hash table size 1243391, node heap has 0 buffer(s)\nAdaptive hash table 13: Hash table size 1243391, node heap has 0 buffer(s)\nAdaptive hash table 14: Hash table size 1243391, node heap has 0 buffer(s)\nAdaptive hash table 15: Hash table size 1243391, node heap has 0 buffer(s)\nAdaptive hash table 16: Hash table size 1243391, node heap has 0 buffer(s)\nAdaptive hash table 17: Hash table size 1243391, node heap has 0 buffer(s)\nAdaptive hash table 18: Hash table size 1243391, node heap has 0 buffer(s)\nAdaptive hash table 19: Hash table size 1243391, node heap has 0 buffer(s)\nAdaptive hash table 20: Hash table size 1243391, node heap has 0 buffer(s)\nAdaptive hash table 21: Hash table size 1243391, node heap has 0 buffer(s)\nAdaptive hash table 22: Hash table size 1243391, node heap has 0 buffer(s)\nAdaptive hash table 23: Hash table size 1243391, node heap has 0 buffer(s)\nAdaptive hash table 24: Hash table size 1243391, node heap has 0 buffer(s)\nAdaptive hash table 25: Hash table size 1243391, node heap has 0 buffer(s)\nAdaptive hash table 26: Hash table size 1243391, node heap has 0 buffer(s)\nAdaptive hash table 27: Hash table size 1243391, node heap has 0 buffer(s)\nAdaptive hash table 28: Hash table size 1243391, node heap has 0 buffer(s)\nAdaptive hash table 29: Hash table size 1243391, node heap has 0 buffer(s)\nAdaptive hash table 30: Hash table size 1243391, node heap has 0 buffer(s)\nAdaptive hash table 31: Hash table size 1243391, node heap has 0 buffer(s)\n0.00 hash searches/s, 1.79 non-hash searches/s\n---\nLOG\n---\nLog sequence number 8204\nLog flushed up to   8204\nPages flushed up to 8204\nLast checkpoint at  8192\n0 pending log writes, 0 pending chkp writes\n0 log i/o's done, 0.00 log i/o's/second\n----------------------\nBUFFER POOL AND MEMORY\n----------------------\nTotal memory allocated 0; in additional pool allocated 0\nDictionary memory allocated 497875\nBuffer pool size   1226416\nFree buffers       1220700\nDatabase pages     5716\nOld database pages 2028\nModified db pages  0\nPending reads 0\nPending writes: LRU 0, flush list 0 single page 0\nPages made young 0, not young 0\n0.00 youngs/s, 0.00 non-youngs/s\nPages read 2861, created 2534, written 0\n0.00 reads/s, 0.00 creates/s, 0.00 writes/s\nBuffer pool hit rate 1000 / 1000, young-making rate 0 / 1000 not 0 / 1000\nPages read ahead 0.00/s, evicted without access 0.00/s, Random read ahead 0.00/s\nLRU len: 5716, unzip_LRU len: 0\nI/O sum[0]:cur[0], unzip sum[0]:cur[0]\n----------------------\nINDIVIDUAL BUFFER POOL INFO\n----------------------\n---BUFFER POOL 0\nBuffer pool size   306604\nFree buffers       305059\nDatabase pages     1545\nOld database pages 550\nModified db pages  0\nPending reads 0\nPending writes: LRU 0, flush list 0 single page 0\nPages made young 0, not young 0\n0.00 youngs/s, 0.00 non-youngs/s\nPages read 711, created 691, written 0\n0.00 reads/s, 0.00 creates/s, 0.00 writes/s\nBuffer pool hit rate 1000 / 1000, young-making rate 0 / 1000 not 0 / 1000\nPages read ahead 0.00/s, evicted without access 0.00/s, Random read ahead 0.00/s\nLRU len: 1545, unzip_LRU len: 0\nI/O sum[0]:cur[0], unzip sum[0]:cur[0]\n---BUFFER POOL 1\nBuffer pool size   306604\nFree buffers       305190\nDatabase pages     1414\nOld database pages 501\nModified db pages  0\nPending reads 0\nPending writes: LRU 0, flush list 0 single page 0\nPages made young 0, not young 0\n0.00 youngs/s, 0.00 non-youngs/s\nPages read 760, created 617, written 0\n0.00 reads/s, 0.00 creates/s, 0.00 writes/s\nBuffer pool hit rate 1000 / 1000, young-making rate 0 / 1000 not 0 / 1000\nPages read ahead 0.00/s, evicted without access 0.00/s, Random read ahead 0.00/s\nLRU len: 1414, unzip_LRU len: 0\nI/O sum[0]:cur[0], unzip sum[0]:cur[0]\n---BUFFER POOL 2\nBuffer pool size   306604\nFree buffers       305225\nDatabase pages     1379\nOld database pages 489\nModified db pages  0\nPending reads 0\nPending writes: LRU 0, flush list 0 single page 0\nPages made young 0, not young 0\n0.00 youngs/s, 0.00 non-youngs/s\nPages read 686, created 615, written 0\n0.00 reads/s, 0.00 creates/s, 0.00 writes/s\nBuffer pool hit rate 1000 / 1000, young-making rate 0 / 1000 not 0 / 1000\nPages read ahead 0.00/s, evicted without access 0.00/s, Random read ahead 0.00/s\nLRU len: 1379, unzip_LRU len: 0\nI/O sum[0]:cur[0], unzip sum[0]:cur[0]\n---BUFFER POOL 3\nBuffer pool size   306604\nFree buffers       305226\nDatabase pages     1378\nOld database pages 488\nModified db pages  0\nPending reads 0\nPending writes: LRU 0, flush list 0 single page 0\nPages made young 0, not young 0\n0.00 youngs/s, 0.00 non-youngs/s\nPages read 704, created 611, written 0\n0.00 reads/s, 0.00 creates/s, 0.00 writes/s\nBuffer pool hit rate 1000 / 1000, young-making rate 0 / 1000 not 0 / 1000\nPages read ahead 0.00/s, evicted without access 0.00/s, Random read ahead 0.00/s\nLRU len: 1378, unzip_LRU len: 0\nI/O sum[0]:cur[0], unzip sum[0]:cur[0]\n--------------\nROW OPERATIONS\n--------------\n0 queries inside InnoDB, 0 queries in queue\n0 read views open inside InnoDB\nMain thread process no. 8008, id 47728197875456, state: sleeping\nNumber of rows inserted 5851, updated 7736164, deleted 1207, read 2804757\n0.03 inserts/s, 1.48 updates/s, 0.03 deletes/s, 0.93 reads/s\n----------------------------\nEND OF INNODB MONITOR OUTPUT\n============================\n")