In [74]:
import pymysql
import json
import sys
from pprint import pprint

# alex
# qqqqqqq
# ucsd-demo-db.datajoint.io

alex_laptop_cred_fp = '/Users/newberry/Desktop/atlas_data/alex_local_db_credentials.json'
alex_desktop_cred_fp = '/mnt/c/Users/Alex/Documents/json_credentials/datajoint_db_credentials.json'

#with open(alex_laptop_cred_fp) as f: # Alex laptop
with open(alex_desktop_cred_fp) as f: # Alex desktop
    creds = json.load(f)
print(creds)
print('\n\n')
# db = alex_test, common_atlas, common_test
# Establish connection to the database
conn = pymysql.connect(host=creds['host'], port=creds['port'], user=creds['user'], passwd=creds['passwd'], db = 'alex_test')


def print_sql_command_output( command='show tables' ):
    # Create a connection cursor
    cur = conn.cursor()
    # Execute a mySql command
    cur.execute(command)
    
    # Print out the commands output
    print('---------------  '+command)
    print(cur.description)
    print()

    for row in cur:
        print(row)
    print('\n')
    cur.close()


print_sql_command_output(command='show tables')

{'host': 'ucsd-demo-db.datajoint.io', 'port': 3306, 'user': 'dbadmin', 'passwd': 'western-data-surf-hemisphere', 'db': 'demodb'}



---------------  show tables
(('Tables_in_alex_test', 253, None, 256, 256, 0, False),)

('#person',)
('~log',)
('mouse',)
('surgery',)

In [75]:
print_sql_command_output(command='SELECT * FROM surgery')

---------------  SELECT * FROM surgery
(('mouse', 254, None, 40, 40, 0, False), ('surgery_number', 1, None, 3, 3, 0, False), ('username', 253, None, 64, 64, 0, False), ('surgery_date', 10, None, 10, 10, 0, False), ('surgery_description', 253, None, 4000, 4000, 0, False))

('1', 1, 'alex', datetime.date(2018, 11, 11), 'Nothing to say.')
('1', 2, 'alex', datetime.date(2018, 11, 12), 'Surgery went horribly, horribly wrong. That poor mouse.')
('1', 3, 'david', datetime.date(2018, 11, 14), 'Surgery was chillin')

In [78]:
command = 'show processlist'
print_sql_command_output(command=command)

command = 'show grants'
print_sql_command_output(command=command)

command = 'show grants FOR alex'
print_sql_command_output(command=command)

---------------  show processlist
(('Id', 8, None, 21, 21, 0, False), ('User', 253, None, 64, 64, 31, False), ('Host', 253, None, 256, 256, 31, False), ('db', 253, None, 256, 256, 31, True), ('Command', 253, None, 64, 64, 31, False), ('Time', 3, None, 7, 7, 0, False), ('State', 253, None, 120, 120, 31, True), ('Info', 253, None, 400, 400, 31, True))

(1, 'rdsadmin', 'localhost', None, 'Sleep', 2, 'delayed send ok done', None)
(3, 'rdsadmin', 'localhost', None, 'Sleep', 1, 'cleaned up', None)
(4, 'rdsadmin', 'localhost', None, 'Sleep', 3, 'cleaned up', None)
(6, 'rdsadmin', 'localhost', None, 'Sleep', 68, 'delayed send ok done', None)
(11616, 'rdsadmin', 'localhost', None, 'Sleep', 0, 'cleaned up', None)
(13541, 'alex', '76.192.162.103:65423', None, 'Sleep', 227, 'cleaned up', None)
(13544, 'dbadmin', '76.192.162.103:65456', 'alex_test', 'Query', 0, 'init', 'show processlist')


---------------  show grants
(('Grants for dbadmin@%', 253, None, 4096, 4096, 31, False),)

("GRANT SELECT, INSERT, UPDATE, DELETE, CREATE, DROP, RELOAD, PROCESS, REFERENCES, INDEX, ALTER, SHOW DATABASES, CREATE TEMPORARY TABLES, LOCK TABLES, EXECUTE, REPLICATION SLAVE, REPLICATION CLIENT, CREATE VIEW, SHOW VIEW, CREATE ROUTINE, ALTER ROUTINE, CREATE USER, EVENT, TRIGGER, LOAD FROM S3, SELECT INTO S3, INVOKE LAMBDA ON *.* TO 'dbadmin'@'%' IDENTIFIED BY PASSWORD '*AAD5282851DD25BD30C27DB64EBA59D6DA44F753' WITH GRANT OPTION",)


---------------  show grants FOR alex
(('Grants for alex@%', 253, None, 4096, 4096, 31, False),)

("GRANT USAGE ON *.* TO 'alex'@'%' IDENTIFIED BY PASSWORD '*8F4E65EB3D28FBCB72FFEF92B72F8325864C4E94'",)
("GRANT ALL PRIVILEGES ON `common\\_%`.* TO 'alex'@'%'",)
("GRANT ALL PRIVILEGES ON `alex\\_%`.* TO 'alex'@'%'",)

In [77]:
command = 'show grants FOR alex'
print_sql_command_output(command=command)

---------------  show grants FOR alex
(('Grants for alex@%', 253, None, 4096, 4096, 31, False),)

("GRANT USAGE ON *.* TO 'alex'@'%' IDENTIFIED BY PASSWORD '*8F4E65EB3D28FBCB72FFEF92B72F8325864C4E94'",)
("GRANT ALL PRIVILEGES ON `common\\_%`.* TO 'alex'@'%'",)
("GRANT ALL PRIVILEGES ON `alex\\_%`.* TO 'alex'@'%'",)